@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .line-mf {
    @apply h-1 bg-blue-600 w-8 m-auto rounded-sm mt-1;
  }


  .text-two-color {
    @apply bg-clip-text font-bold text-transparent bg-gradient-to-r from-indigo-600 to-pink-500;
  }

  .btn-primary {
    @apply px-3 py-2 bg-indigo-500 rounded-md hover:bg-indigo-600 hover:ring-2 shadow-lg active:ring-1;
  }

  .btn-danger {
    @apply px-3 py-2 bg-red-500 rounded-md hover:bg-red-600 hover:ring-2 shadow-lg active:ring-1;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}